@model IEnumerable<ItlaFlixApp.WEB.Models.MovieModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txt_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cant_disponibles_venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cant_disponibles_alquiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio_alquiler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_pelicula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cant_disponibles_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cant_disponibles_alquiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio_alquiler)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.cod_pelicula  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.cod_pelicula  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.cod_pelicula})
            </td>
        </tr>
}
    </tbody>
</table>
